# This rule is not used by the project agenttask-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the execution.agenttask.io.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: agenttask-operator
    app.kubernetes.io/managed-by: kustomize
  name: agenttask-editor-role
rules:
- apiGroups:
  - execution.agenttask.io
  resources:
  - agenttasks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - execution.agenttask.io
  resources:
  - agenttasks/status
  verbs:
  - get
